.vid {
    position: relative;
    top: 0px;
    z-index: -1;
    /* height: 2px; */
    width: 100%;
}
.vid-text{
    position: absolute;
    top: 60%;
    width   : 30%;
    left: 10%;
    /* height: 100%; */
    color: aliceblue;
    /* background-color: aqua; */
    /* position: relative; */
    /* margin-top: 20%; */
    /* margin-left: 10%; */
}
@media screen and (min-width: 990px) {
    #mob {
        display: none;
    }
}
@media screen and (max-width: 990px) {
    #pc {
        display: none;
    }
    .vid-text{
        /* position: relative; */
        width: 100%;
        left: 0%;
        /* margin: auto; */
        /* margin-top: 60%; */
    }
}

.head{
    position: absolute;
    left: 50%;
}
.head a{
    color: aliceblue;
    margin: 30px 40px;
    font-size: 20px;
    /* box-shadow: 2px 2px 20px 2px green; */
    font-weight: 900;  
}
.head img{
    min-width: 100px;
    padding-top: 30px;
    position: fixed;
    left: 10%;
    background-color: aliceblue;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.head img:hover{
    cursor: pointer;
    background-color: greenyellow;
    transition: 0.3s all;
    /* margin: 2%; */
    /* transform: scale(1.1); */
}
@media screen and (max-width: 990px) {
    .head img {
        right: 10%;
        left: auto;
    }
}

.categ div{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.categ section {
    width: 50%;
    text-align: center;
}